<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />
    	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body>
<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h1>Book a room</h1>
						</div>
						<form method="POST" action="{% url 'insert_event' %}" >
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Name ofEvent</span>
										<input class="form-control" type="text" name= "EventName" placeholder="Enter Name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Number of Attendees</span>
										<input class="form-control" type="number" name="AttendessNo" placeholder="AttendeesNo">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Preferred Room No</span>
										<input class="form-control" type="number" name= "RoomNo" placeholder="RoomNo">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Date of Event</span>
										<input class="form-control" type="text" name="EventDate" placeholder="EventDate">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span>Start Time</span>
										<input class="form-control" type="text" name= "StartTime" placeholder="StartTime">
									
									
										<span>End Time</span>
										<input class="form-control" type="text" name="EndTime" placeholder="EndTime">
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Description</span>
										<input class="form-control" type="text" name= "Description" placeholder="Description">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Organizer Name:</span>
										<input class="form-control" type="text" name="FirstName" placeholder="Name">
									</div>
								</div>
							</div>

							<div class="form-btn">
								<button class="submit-btn">Book Now</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->


</body>
</html>
